@font-face {
  font-family: "iconfont"; /* Project id 3794345 */
  src: url('iconfont.woff2?t=1669484719540') format('woff2'),
       url('iconfont.woff?t=1669484719540') format('woff'),
       url('iconfont.ttf?t=1669484719540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e6a8";
}

.icon-fanhui2:before {
  content: "\e6cc";
}

.icon-zhuyi:before {
  content: "\e619";
}

